@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45852917');
  src: url('../font/fontello.eot?45852917#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45852917') format('woff2'),
       url('../font/fontello.woff?45852917') format('woff'),
       url('../font/fontello.ttf?45852917') format('truetype'),
       url('../font/fontello.svg?45852917#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45852917#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-window:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-001-layers:before { content: '\e805'; } /* '' */
.icon-002-imac:before { content: '\e806'; } /* '' */
.icon-003-database:before { content: '\e807'; } /* '' */
.icon-004-line-chart:before { content: '\e808'; } /* '' */
.icon-tools:before { content: '\e809'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-chat-alt:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */