
.icon-basket:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-window:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-001-layers:before { content: '\e805'; } /* '' */
.icon-002-imac:before { content: '\e806'; } /* '' */
.icon-003-database:before { content: '\e807'; } /* '' */
.icon-004-line-chart:before { content: '\e808'; } /* '' */
.icon-tools:before { content: '\e809'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */