p{
	margin:0;
}

h4{
	margin:0;
}

ul{
	padding-left: 0;
}


body,html{
	height: 100%;
	background-image: url(https://picsum.photos/1920/1080?random=7);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

input{
	padding:10px;
    margin: 0 20px;
}

select{
	
}


input,select{
	border:none;
	outline: none;
	height: 40px;
	margin:0 20px;
	border-radius:10px;
}

.title{
	margin-top: 50px;
}
.title h2{
	color:#eee;
	margin-bottom: 30px;
}


.now-days{
	position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    color:#eee;
}


.btn-clear,.btn-submit,.btn-cal{
	display: inline-block;
	width: 100px;
	padding: 10px;
    margin: 50px 30px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

a.btn-clear,a.btn-submit,a.btn-cal{
	color: #eee;
}



.list-item{
    padding: 20px; 
    background-color: rgba(0,0,0,0.6);
    color: white;
    list-style-type: none;
    border:1px solid #eee;
    transition: 0.3s all;
}

.list-item:hover{
	background-color: #eee;
	color:#333;

}

.list-item a{
	display: inline-block;
	margin-top: 10px;
	color:#eee;
	text-decoration: none;
	padding:5px;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: 0.3s all;
}

.list-item:hover a{
	color: #333;
	border-color: #333;
}

