
.icon-basket:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-window:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-001-layers:before { content: '\e805'; } /* '' */
.icon-002-imac:before { content: '\e806'; } /* '' */
.icon-003-database:before { content: '\e807'; } /* '' */
.icon-004-line-chart:before { content: '\e808'; } /* '' */
.icon-tools:before { content: '\e809'; } /* '' */
.icon-emo-thumbsup:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-chat-alt:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-globe-alt-outline:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-bullhorn:before { content: '\e812'; } /* '' */
.icon-desktop:before { content: '\e813'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-mouse-pointer:before { content: '\f245'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */